#header, #main{
  color: white;
}
#header {
  background-color: red;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
#main {
  background-color: gray;
  padding: 20px;
  margin: 20px;
  font-family:Arial;
}
#input,.btn,#content,#output,.pp{
  font-size: 35px;
  display: block; 
  margin:  auto;
  font-family:Arial;
}
#fadein {
  -webkit-animation-delay:2s;
}
.row {
  text-align : center;
}
.btn {
  border-radius:26px;
  display:inline-block;
  background-color: red;
  font-family:Arial;
}
.pp {
  text-align: center;
  font-family:monospace;
}
